html, body {
  height: 100%;
}

body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;
  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}

a {
  color: $brand-color;
  @media (prefers-color-scheme: dark) {
    color: $brand-color-dark;
  }
  text-decoration: none;
  &:hover{
    color: $text-color;

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }

  }
}

.nav {
  color: $navlinks-color;
  @media (prefers-color-scheme: dark) {
    color: $navlinks-color-dark;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  @media (prefers-color-scheme: dark) {
    border: 1px solid $brand-color-dark;
  }
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  @media (prefers-color-scheme: dark) {
    border-left: 2px solid $brand-color-dark;
  }
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}

.things {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 13px;
  p {
    margin-left: 13px;
  }
}


////////// commandline 

// commandline source ("github" link)
.cs {
  font-size: .8em;
  padding-left: 13px;
  margin-left: 25px;
}

// commandline title
.ct {
  margin-left: 17px;
  code {
     background-color: $offset-bg-color;
     @media (prefers-color-scheme: dark) {
       background-color: $offset-bg-color-dark;
     }
     font-size: 1.3em;
     font-weight: bold;
  }
}

// commandline description
.cd {
  font-style: italic;
  margin-left: 23px;
  border-bottom: 1px solid $sepline;
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid $sepline-dark; 
  }
  border-radius: 7px 3px 6px 3px/1px 1px 3px 5px;
  margin-right: 76px;
  padding-bottom: 11px;
  padding-left: 7px;

}

////////// books

// books source (just the line seperator for now)

.bs {
  border-bottom: 1px solid $sepline;
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid $sepline-dark; 
  }
  border-radius: 11px 11px 15px 3px/35px 15px 7px 15px;
  margin-right: 47px;
  margin-left: 17px;
  padding-bottom: 11px;
}


////////// quotations 

// quotation source (author's name)
.qs {
  font-size: .9em;
  text-align: right;
  padding-right: 89px;
  border-bottom: 1px solid $sepline;
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid $sepline-dark; 
  }
  border-radius: 11px 11px 15px 3px/35px 15px 7px 15px;
  margin-right: 53px;
  margin-left: 142px;
  padding-bottom: 7px;
}

// quotation quote
.qc {
  blockquote {
    font-weight: normal;
    font-size: 1.1em;
  }
  font-weight: bold;
  padding-left: 20px;
}

////////// articles

// article source
.as {
  text-align: right; 
  font-size: .7em;
  padding-right: 52px;
  a {
    color: $text-color;
    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }
    text-decoration: none;
    &:hover {
      color: $navlinks-color;
    }
  }
  border-bottom: 1px solid $sepline;
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid $sepline-dark; 
  }
  border-radius: 11px 11px 15px 3px/35px 15px 7px 15px;
  margin-right: 47px;
  margin-left: 17px;
  padding-bottom: 7px;
}

////////// main "hand drawn" layout

// table of contents
.atoc {
  background: $offset-bg-color;
  @media (prefers-color-scheme: dark) {
    background: $offset-bg-color-dark;
    color: $text-color-dark;
  }
  text-align: left;
  margin-right: 169px;
  position: relative;
  left: 3%;
  padding-left: 10px;
  line-height: 1.4em;
  border-left: 1px dotted $handdrawn;
  @media (prefers-color-scheme: dark) {
    border-right: 1px dotted $handdrawn-dark; 
  }
}

// "hand drawn" main category box
.acm {
  border-right: 3px solid $handdrawn;
  @media (prefers-color-scheme: dark) {
    border-right: 3px solid $handdrawn-dark; 
  }
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

// "hand drawn" sub- (or solo) category box
.ac {
  padding-left: 20px;
}

// category name
.acname {
  padding: 0px 25px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 2px solid $handdrawn;
  @media (prefers-color-scheme: dark) {
    border: 2px solid $handdrawn-dark; 
  }
  border-right: none;
  border-left: none;
  background: $offset-bg-color;
  @media (prefers-color-scheme: dark) {
    background: $offset-bg-color-dark;
    color: $text-color-dark;
  }
}

// category sub-name 
.ascname {
  padding: 0px 25px;
  margin-left: 50px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 2px solid $handdrawn;
  @media (prefers-color-scheme: dark) {
    border: 2px solid $handdrawn-dark; 
  }
  border-right: none;
  border-left: none;
  background: $offset-bg-color;
  @media (prefers-color-scheme: dark) {
    background: $offset-bg-color-dark;
    color: $text-color-dark;
  }
}

// headline  
.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;
  @include media-query($on-palm) {
    font-size: 2em;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

/* Horizontal scrolling navbar. From: https://is.gd/WuJxqy */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }
