$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: gray;
$background-color: #fdfdfd;


// Color scheme for light
$body-bg: #fffbe5;
$brand-color: #665800;
$text-color: #1d1b1b;
$offset-bg-color: #fffdf0;
$navlinks-color: #804000;

// Color scheme for dark modes
//$body-bg-dark: #061725;
//$body-bg-dark: #1a0d00;
$body-bg-dark: #423800;
$brand-color-dark: #a89200;
$text-color-dark: #fffbe5;
$offset-bg-color-dark: #5c4e00;
$navlinks-color-dark: #804000;

